.form{
    box-shadow: 1px 1px 3px rgba(56, 56, 56, 0.2);
}

.input{
    border: none;
    background-color: #fbfbfb;
    border-radius: 0;
}
.input::placeholder{
    color: #bbb;
}
.input:focus,
.input:active{
    outline: none!important;
    box-shadow: none!important;
}
.title{
    font-size: 4rem;
    border-bottom: 0.5px solid #bbb;
}
.title:focus{
    border-bottom: 0.5px solid #bbb;
}

.body{
    height: 15rem;
    resize: none;
}
.btn{
    background-color: #212529;
    border: none;
}
.btn:hover{
    background-color: #38414d;
}